<div class="flex flex-1 justify-center p-11">
  <div class="flex flex-col">
    <div class="font-semibold mb-2">Graph option</div>
    <div class="flex mb-4 items-start">
      <div class="flex flex-col mr-8">
        <div class="flex items-center mb-4">
          <label class="w-40" for="columns">Number of columns</label>
          <input
            class="input"
            type="number"
            id="columns"
            [(ngModel)]="columns"
          />
        </div>
        <div class="flex items-center">
          <label class="w-40" for="rows">Number of rows</label>
          <input class="input" type="number" id="rows" [(ngModel)]="rows" />
        </div>
      </div>
      <div class="flex flex-col mr-8">
        <div class="flex items-center mb-4">
          <label class="w-20" for="startX">Start x</label>
          <input class="input" type="number" id="startX" [(ngModel)]="startX" />
        </div>
        <div class="flex items-center">
          <label class="w-20" for="startY">Start y</label>
          <input class="input" type="number" id="startY" [(ngModel)]="startY" />
        </div>
      </div>
      <div class="flex flex-col mr-8">
        <div class="flex items-center mb-4">
          <label class="w-20" for="endX">End x</label>
          <input class="input" type="number" id="endX" [(ngModel)]="endX" />
        </div>
        <div class="flex items-center">
          <label class="w-20" for="endY">End y</label>
          <input class="input" type="number" id="endY" [(ngModel)]="endY" />
        </div>
      </div>
    </div>
    <div class="flex mb-4">
      <div class="flex items-center">
        <input
          [disabled]="running"
          class="mr-2 h-6"
          type="checkbox"
          id="weight"
          [(ngModel)]="hasWeight"
        />
        <label for="weight">Weight</label>
      </div>
    </div>
    <div class="mb-6 flex">
      <button class="text-xs mr-4 btn-primary" (click)="initNodes()">
        <span class="mr-1">Generate</span>
        <img class="w-4 h-4 text-white" src="./assets/svg/share.svg" alt="" />
      </button>
    </div>
    <div class="mr-4 flex items-center mb-8" *ngIf="nodes.length > 0">
      <div class="flex items-center mr-4">
        <label class="mr-4" for="algo">Select the algo</label>
        <select
          [(ngModel)]="algo"
          id="algo"
          class="w-32 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        >
          <option value="dijkstra">Dijkstra</option>
          <option value="a-star">A star</option>
        </select>
      </div>
      <div class="flex items-center">
        <label
          for="toggle-example"
          class="flex items-center cursor-pointer relative"
        >
          <input
            type="checkbox"
            id="toggle-example"
            class="sr-only"
            [(ngModel)]="animation"
          />
          <div
            class="toggle-bg bg-gray-200 border-2 border-gray-200 h-6 w-11 rounded-full"
          ></div>
          <span class="ml-3 text-gray-900 text-sm font-medium"
            >Activate animation</span
          >
        </label>
      </div>
    </div>
    <app-grid [nodes]="nodes"></app-grid>
  </div>

  <button
    *ngIf="algo && !running"
    (click)="startPathFinding()"
    class="inline-block rounded-full bg-blue-600 text-white leading-normal uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-14 h-14 absolute bottom-8 right-8"
  >
    <img class="w-7 mx-auto text-white" src="./assets/svg/play.svg" alt="" />
  </button>
  <button
    *ngIf="running"
    (click)="stopPathFinding()"
    class="justify-center items-center inline-block rounded-full bg-blue-600 text-white leading-normal uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out w-14 h-14 absolute bottom-8 right-8"
  >
    <img class="w-7 mx-auto text-white" src="./assets/svg/stop.svg" alt="" />
  </button>
</div>
